{@de.hsos.swa.entity.Weapon weapon}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{weapon.gun_type} | {weapon.weapon_name} ({weapon.exterior})</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar Search-->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search for..." id="txtInput" aria-label="Search"
            aria-describedby="basic-addon2" />
          <div class="input-group-append">
            <button class="btn btn-primary" onclick="search()" type="button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      <!-- Navbar-->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="http://localhost:9090/user/cart.html">Cart</a>
            <a class="dropdown-item" href="http://localhost:9090/user/profile/show.html">Profile</a>
            <a class="dropdown-item" href="http://localhost:9090/user/sell.html">Sell</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" onclick="logOut()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    

    <!-- Jumbotron Header -->
    <header>
      <h1>.</h1>
    </header>
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="http://localhost:9090/weapon/index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{weapon.gun_type} | {weapon.weapon_name}</li>

      </ol>
    </nav>

    <!-- /Breadcrumb -->

    <!-- Add to HTML Head -->

    <!-- Page Content -->

    <div class="container">
      <div class="row flex-lg-nowrap">
        <div class="col">
          <div class="row">
            <div class="col mb-3">
              <div class="card">
                <div class="card-body">

                  <div class="card col-md-12">
                    <div class="card-horizontal" style="display: flex;
                      flex: 1 1 auto;">

                      <div class="img-square-wrapper">
                        <div class="mx-auto" style="width: 300px;">
                          <div class="d-flex justify-content-center align-items-center rounded"
                            style="height: 150px; background-color: rgb(233, 236, 239);">
                            <span style="color: rgb(166, 168, 170);">
                              <img src="https://steamcommunity-a.akamaihd.net/economy/image/{weapon.icon_url}"
                                alt="Admin" width="300">
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="card-body">
                        <h4 class="card-title pt-sm-2 pb-1">{weapon.gun_type} | {weapon.weapon_name}
                          ({weapon.exterior})</h4>
                        <div class="row">
                          <ul>
                            <li>Weapon Type: {weapon.weapon_type}</li>
                            <li>Exterior: {weapon.exterior}</li>
                            <li>Rarity: {weapon.rarity}</li>
                            <li>Price: <strong>{weapon.price}$</strong></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>

                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                      <form class="form" novalidate="">

                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <a href="#" onclick="addToCart({weapon.id})" class="btn btn-outline-primary">Add to Cart</a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-3 mb-3">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title font-weight-bold">Recommend</h6>
                  <p class="card-text">Get fast, free help from our friendly assistants.</p>
                  <form>
                    <div class="form-group">
                      <label>Email</label>
                      <input class="form-control" type="email" name="name" placeholder="max.mustermann@gmail.com"
                        id="email" required />
                    </div>
                    <button type="submit" onclick="recommendEmail({weapon.id})" class="btn btn-primary">Recommend to a
                      friend</button>
                    <script>
                      function recommendEmail(weapon_id) {
                        const Http = new XMLHttpRequest();
                        // get value by id 
                        const email = document.getElementById("email").value.replace("@", "%40");
                        const url = "http://localhost:9090/email/recommend?email=" + email + "&weapon_id=" + weapon_id;
                        // if the function call was successful
                        Http.onreadystatechange = function () {
                          if (Http.readyState == XMLHttpRequest.DONE) {
                            alert("Skin was successfully recommended");
                            //parent.location = 'http://localhost:9090/weapon/index.html'
                          }
                        }
                        // execute post request
                        Http.open("POST", url);
                        Http.send();

                      }
                    </script>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark" style="position: absolute;;
    bottom: 0;
    width: 100%;">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>

 
  
</body>
 <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="../javascript/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
    crossorigin="anonymous"></script>

</html>